<h1>MVC Tech Blog</h1>

{{#each homePost as |post|}}
  <a href="/post/" {{id}}>
    <h3>{{title}}</h3>
    <strong>{{user.name}}</strong>
    <p>{{content}}</p>
    <p>{{date_created}}</p>
  </a>
{{/each}}

<button id="add-btn">Add post</button>

<form id="input-wrapper">
  <input type="text" id="title" value="Title" /><br /><br />
  <textarea id="new-post" name="post">
    Write post
  </textarea>
  <input id="submit-post" type="submit" value="Submit" />
</form>

<script src="./js/handlePost.js"></script>